# Ignore node_modules directory
node_modules

# Ignore package-lock.json if it's not meant to be committed
# For this project, I will commit it to ensure consistent installs.
# package-lock.json

# Ignore environment variables file
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist
build